<!DOCTYPE HTML>
<html lang="en" >
    <head>

        {%- include head.html -%}

        {% if page.previous %}
            <link rel="prev" href="{{site.baseurl}}{{page.previous.url}}" />
        {% else %}
            <link rel="prev" href="{{site.baseurl}}/" />
        {% endif %}

        {% if page.next %}
            <link rel="next" href="{{site.baseurl}}{{page.next.url}}" />
        {% endif %}
    </head>
    <body>
        <div class="book">

            {%- include toc-date.html -%}

            <div class="book-body">
                <div class="book-header" role="navigation">
                    <!-- Title -->
                    <img class="logo" src="{{site.baseurl}}/assets/gitbook/symbols/lipu-linluwi.svg" height="40px">

                    <!-- Page controls -->
                    <div class="page-controls">
                        <!-- Theme toggle -->
                        <div class="toggle-group theme-toggle">
                            <button class="toggle-btn btn-light" id="btn-light">
                                <img class="icon-light-mode" src="{{site.baseurl}}/assets/gitbook/symbols/walo-dark.svg" alt="" width="15" height="15">
                                <img class="icon-dark-mode"  src="{{site.baseurl}}/assets/gitbook/symbols/walo-light.svg" alt="" width="15" height="15">
                                light
                            </button>
                            <button class="toggle-btn btn-dark" id="btn-dark">
                                <img class="icon-light-mode" src="{{site.baseurl}}/assets/gitbook/symbols/pimeja-light.svg" alt="" width="15" height="15">
                                <img class="icon-dark-mode"  src="{{site.baseurl}}/assets/gitbook/symbols/pimeja-dark.svg" alt="" width="15" height="15">
                                dark
                            </button>
                        </div>
                        <!-- Font size toggle -->
                        <div class="toggle-group font-toggle">
                            <button class="toggle-btn" id="btn-font-decrease">a</button>
                            <button class="toggle-btn" id="btn-font-increase">A</button>
                        </div>
                    </div>
                </div>

                <div class="body-inner">
                
            	<div class="starfield starfield-light">
                <img class="starfield-img" src="{{site.baseurl}}/assets/gitbook/images/fox-w-girl.svg">
                </div>
                
                    {%- include body.html -%}

                    {% assign ordered_all_pages = "" | split: "" %}
                    {% for label in site.ordered_collections %}
                        {% if label == "essays" %}
                            {% assign col_docs = site[label] | reverse %}
                        {% else %}
                            {% assign col_docs = site[label] | sort: "order" %}
                        {% endif %}
                        {% assign ordered_all_pages = ordered_all_pages | concat: col_docs %}
                    {% endfor %}

                    {% assign prev_doc = nil %}
                    {% assign next_doc = nil %}
                    {% assign found_current = false %}
                    {% for doc in ordered_all_pages %}
                        {% if doc.url == page.url %}
                            {% assign found_current = true %}
                        {% elsif found_current %}
                            {% assign next_doc = doc %}
                            {% break %}
                        {% else %}
                            {% assign prev_doc = doc %}
                        {% endif %}
                    {% endfor %}

                    {% if prev_doc %}
                        <a href="{{site.baseurl}}{{prev_doc.url}}" class="navigation navigation-prev{% unless next_doc %} navigation-unique{% endunless %}" aria-label="Previous page: {{prev_doc.title}}">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    {% else %}
                        <a href="{{site.baseurl}}/" class="navigation navigation-prev{% unless next_doc %} navigation-unique{% endunless %}" aria-label="Previous page: {{site.title}}">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    {% endif %}

                    {% if next_doc %}
                        <a href="{{site.baseurl}}{{next_doc.url}}" class="navigation navigation-next" aria-label="Next page: {{next_doc.title}}">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    {% endif %}
                </div>
            </div>

            <script>
            var gitbook = gitbook || [];
            gitbook.push(function() {
                gitbook.page.hasChanged({%- include metadata-post.json.tpl -%});
            });
            </script>
        </div>

        {%- include footer.html -%}

    </body>
</html>