<!DOCTYPE HTML>
<html lang="en" >
    <head>

        {%- include head.html -%}

        {% if page.previous %}
            <link rel="prev" href="{{site.baseurl}}{{page.previous.url}}" />
        {% else %}
            <link rel="prev" href="{{site.baseurl}}/" />
        {% endif %}

        {% if page.next %}
            <link rel="next" href="{{site.baseurl}}{{page.next.url}}" />
        {% endif %}
    </head>
    <body>
        <div class="book">

            {%- include toc-date.html -%}

            <div class="book-body">
                <div class="book-header" role="navigation">
                    <!-- Title -->
                    <img class="logo" src="{{site.baseurl}}/assets/gitbook/symbols/lipu-linluwi.svg" height="40px">

                    <!-- Page controls -->
                    <div class="page-controls">
                        <!-- Theme toggle -->
                        <div class="toggle-group theme-toggle">
                            <button class="toggle-btn btn-light" id="btn-light">
                                <img class="icon-light-mode" src="{{site.baseurl}}/assets/gitbook/symbols/walo-dark.svg" alt="" width="15" height="15">
                                <img class="icon-dark-mode"  src="{{site.baseurl}}/assets/gitbook/symbols/walo-light.svg" alt="" width="15" height="15">
                                light
                            </button>
                            <button class="toggle-btn btn-dark" id="btn-dark">
                                <img class="icon-light-mode" src="{{site.baseurl}}/assets/gitbook/symbols/pimeja-light.svg" alt="" width="15" height="15">
                                <img class="icon-dark-mode"  src="{{site.baseurl}}/assets/gitbook/symbols/pimeja-dark.svg" alt="" width="15" height="15">
                                dark
                            </button>
                        </div>
                        <!-- Font size toggle -->
                        <div class="toggle-group font-toggle">
                            <button class="toggle-btn" id="btn-font-decrease">a</button>
                            <button class="toggle-btn" id="btn-font-increase">A</button>
                        </div>
                    </div>
                </div>

                <div class="body-inner">
                
            	<div class="starfield starfield-light">
                <img class="starfield-img" src="{{site.baseurl}}/assets/gitbook/images/fox-w-girl.svg">
                </div>
                
                    {%- include body.html -%}

                </div>
            </div>

            <script>
            var gitbook = gitbook || [];
            gitbook.push(function() {
                gitbook.page.hasChanged({%- include metadata-post.json.tpl -%});
            });
            </script>
        </div>

        {%- include footer.html -%}

    </body>
</html>